.col-xs-4.col-sm-2.football.text-center
  
  %a{ href: football_path(football) }
    .nfl-logo{ class: football.team.parameterize }
  %div.player-name= football.player
  .label.label-default.football-label
    = football.status