.col-xs-4.col-sm-2.football.text-center
  %a{ href: football.player_url }
    %img.img-thumbnail{ src: football.player_url }
  = football.status
  .label.label-default.football-label
    =l football.created_at