.row.section#football-section
  .col-sm-12
  
    .row
      .col-sm-12
        %h1
          .nfl-logo{ class: @football.team.parameterize }
    .row
      .col-sm-12.text-center
        %h2
          = @football.player
    .row   
      .col-sm-12.text-center
        %img.img-thumbnail{ src: @football.player_url }
