.page-header
  %h1.text-center
    %i.fa.fa-car
    Automatic Maps

.row
  - @automatics.each do |automatic|
    .col-sm-3.automatic
      %a{ href: automatic.trip_map }
        %img.img-thumbnail{ src: automatic.trip_map }
