.row.text-center#banner
  
  %h1 
    Peter Stephen Clark
  %p
    web developer in san antonio
  %div{ style: "max-width: 15%; margin: 0 auto; position: relative; top: 16px;" }
    = image_tag "peter.jpg", class: 'img-responsive img-circle', style: "border: 2px solid white"