%div{ style: "position: absolute; color: #fff; top: 10px; left: 10px" }
  
  %a.dropdown-toggle{ href: home_path, data: { target: '#', toggle: 'dropdown' }}
    %i.fa.fa-fw.fa-2x.fa-bars{ style: "color: white" }
    
  %ul.dropdown-menu
    %li.dropdown-header
      MENU
    %li
      %a{ href: root_path } 
        %i.fa.fa-fw.fa-home
        Home
    %li
      %a{ href: resume_path } 
        %i.fa.fa-fw.fa-file-text-o
        Resume