.row.section#github-section
  .col-lg-12    
    .page-header
      %h2
        %i.fa.fa-github
        Github
        
    .row
      .col-lg-12
        = column_chart commits_by_day_api_githubs_path(version: 1), library: commits_by_day_settings, id: 'github-chart'

.row.section#instagram-section
  .col-lg-12
    .page-header
      %h2
        %i.fa.fa-instagram
        Instagram

    .row#instagrams
      = render @instagrams
      
.row.section#automatic-section
  .col-lg-12
    .page-header
      %h2
        %i.fa.fa-car
        Automatic
    
    .row#automatics
      = render @automatics
      
.row.section#football-section
  .col-lg-12
    .page-header
      %h2
        %i.fa.fa-trophy
        Fantasy Football
    .row#footballs
      = render @footballs
  

