.row.section#github-section
  .col-lg-12    
    .page-header
      %h2
        %i.fa.fa-github
        Github
        
    .row
      .col-lg-12
        = column_chart commits_by_day_api_githubs_path(version: 1), library: { chart: { backgroundColor: "#FAFAFB" }, xAxis: { title: { text: "Last 30 Days" }}, yAxis: { title: { text: "Number of commits" }}}, id: 'github-chart'

.row.section#instagram-section
  .col-lg-12
    .page-header
      %h2
        %i.fa.fa-instagram
        Instagram

    #carousel.carousel.slide{ data: { ride: 'carousel', interval: 'false' } }
      .carousel-inner
        .item.active
          .row#instagrams
            = render @instagrams
  

