%h1.text-center
  = image_tag 'light.png', height: 100

.page-header
  %h2
    %i.fa.fa-github
    Github
    
.row
  .col-lg-12
    #github-chart{ style: "width:100%; height:200px" }
  
.page-header
  %h2
    %i.fa.fa-heart
    Cardiio
    
.row#cardiio
  .col-lg-12
    %p stuff here

.page-header
  %h2
    %i.fa.fa-instagram
    Instagram
        
.row#instagrams
  = render @instagrams
