%h1.text-center
  = image_tag 'light.png', height: 100

.page-header
  %h2
    %i.fa.fa-github
    Github
    
.row
  .col-lg-12
    = column_chart commits_by_day_api_githubs_path(version: 1), library: { xAxis: { title: { text: "Last 30 Days" }}, yAxis: { title: { text: "Number of commits" }}}, id: 'github-chart'
  
.page-header
  %h2
    %i.fa.fa-heart
    Cardiio
    
.row#cardiio
  .col-lg-12
    %p stuff here

.page-header
  %h2
    %i.fa.fa-instagram
    Instagram
        
.row#instagrams
  = render @instagrams
