%h1.text-center
  = image_tag 'light.png', height: 100

.page-header
  %h2
    %i.fa.fa-heart
    Cardiio
    
.row#cardiio
  .col-lg-12

.page-header
  %h2
    %i.fa.fa-instagram
    Instagram
        
.row#instagrams
  = render @instagrams
