%h1.text-center
  = image_tag 'light.png', height: 100

.page-header
  %h2
    %i.fa.fa-github
    Github
    
.row#githubs
  .col-lg-12
    #github-chart.epoch.category20c{ style: "height: 200px" }

.page-header
  %h2
    %i.fa.fa-instagram
    Instagram
        
.row#instagrams
  = render @instagrams
