#resume
  %section.row
    .col-sm-3.col-sm-offset-1
      %h2 Contact
    .col-sm-7
      .row
        %article.col-sm-6.col-md-4
          %h5 Email
          peter@5clarks.net
        %article.col-sm-6.col-md-4
          %h5 Phone
          (210) 863-8260
        %article.col-sm-6.col-md-4
          %h5 Website
          %a{ href: "http://peterclark.us" } www.peterclark.us
          
  %section.row
    .col-sm-3.col-sm-offset-1
      %h2 About
    .col-sm-7
      .row
        %article.col-sm-12
          %h5 Web Developer
          

  %section.row
    .col-sm-3.col-sm-offset-1
      %h2 Skills
    .col-sm-7
      .row
        %article.col-sm-12
          %h4
            .label.label-info Ruby
            .label.label-info Rails
            .label.label-info MongoDB
            .label.label-info HTML
            .label.label-info CSS
            .label.label-info Javascript
            .label.label-info jQuery
            .label.label-info Coffeescript
            .label.label-info Git
            .label.label-info Postgres
            .label.label-info MySQL
            .label.label-info Capistrano
            .label.label-info Rspec
            .label.label-info API Design
          
  %section.row
    .col-sm-3.col-sm-offset-1
      %h2 Work
    .col-sm-7
      .row
        %article.col-sm-12
          %p
            = image_tag "rackspace-logo.png", class: "logo"
            %strong{ style: "font-size: x-large" } Rackspace
            %small{ style: "margin-left: 10px" } 2012 - present
        
          %p{ style: "padding-left: 25px" }
            %strong Software Developer III
          
          %p{ style: "padding-left: 25px" }
            Polaroid readymade sartorial, Helvetica tote bag mumblecore kogi deep v twee before they sold out whatever yr keffiyeh messenger bag umami. Seitan American Apparel salvia, letterpress irony bespoke Bushwick viral plaid sartorial slow-carb. PBR&B small batch Tumblr, fixie pickled bicycle rights Portland Kickstarter fashion axe wolf skateboard. Godard pork belly you probably haven't heard of them Bushwick mlkshk stumptown, Pinterest viral Thundercats. Wolf Cosby sweater mixtape hashtag. Letterpress ennui plaid roof party chambray vegan. Fanny pack 3 wolf moon keytar, flexitarian bitters Kickstarter artisan umami four loko jean shorts seitan photo booth dreamcatcher wolf.
      
      .row
        %article.col-sm-12
          %p
            = image_tag "tetco-logo.png", class: "logo"
            %strong{ style: "font-size: x-large" } Tetco Inc
            %small{ style: "margin-left: 10px" } 1999 - 2012
        
          %p{ style: "padding-left: 25px" }
            %strong IT Director / Lead Developer
          
          %p{ style: "padding-left: 25px" }
            Polaroid readymade sartorial, Helvetica tote bag mumblecore kogi deep v twee before they sold out whatever yr keffiyeh messenger bag umami. Seitan American Apparel salvia, letterpress irony bespoke Bushwick viral plaid sartorial slow-carb. PBR&B small batch Tumblr, fixie pickled bicycle rights Portland Kickstarter fashion axe wolf skateboard. Godard pork belly you probably haven't heard of them Bushwick mlkshk stumptown, Pinterest viral Thundercats. Wolf Cosby sweater mixtape hashtag. Letterpress ennui plaid roof party chambray vegan. Fanny pack 3 wolf moon keytar, flexitarian bitters Kickstarter artisan umami four loko jean shorts seitan photo booth dreamcatcher wolf.
              
      .row
        %article.col-sm-12
          %p
            = image_tag "kci-logo.png", class: "logo"
            %strong{ style: "font-size: x-large" } Kinetic Concepts Inc
            %small{ style: "margin-left: 10px" } 1997 - 1999
        
          %p{ style: "padding-left: 25px" }
            %strong Software Engineer
          
          %p{ style: "padding-left: 25px" }
            Designed and maintained embedded software for several product lines including the BariAir, RotoProne, Triadyne and KinAir therapy systems. Led the software design for a prototype touch screen based graphical interface built on PC/104 hardware running QNX, a UNIX based real-time operating system. Led all aspects of this project including marketing demonstrations, software architecture design, software development, and testing.
          
  %section.row
    .col-sm-3.col-sm-offset-1
      %h2 Education
    .col-sm-7
      .row
        %article.col-sm-12
          %ul.fa-ul
            %li
              %i.fa.fa-li.fa-university
              %strong Texas Lutheran University
              %small 1992-1996
            %li
              Physics
            %li
              .label.label-default 3.8 GPA
          %ul.fa-ul
            %li
              %i.fa.fa-li.fa-university
              %strong University of Texas at San Antonio
              %small 1996-1998
            %li
              Electrical Engineering
            %li
              .label.label-default 3.4 GPA
          
  %section.row
    .col-sm-3.col-sm-offset-1
      %h2 Awards
    .col-sm-7
      .row
        %article.col-sm-12
          %ul.fa-ul
            %li
              %i.fa.fa-li.fa-trophy
              %strong Diamond Achievement Award
            %li
              %i.fa.fa-li.fa-trophy
              %strong Certified Scrum Master
            %li
              %i.fa.fa-li.fa-trophy
              %strong Java Certified Developer
              
              
              
              
              