#resume
  %section.row
    .col-sm-3.col-sm-offset-1
      %h2 Contact
    .col-sm-7
      .row
        %article.col-sm-6.col-md-4
          %h5 Email
          peter@5clarks.net
        %article.col-sm-6.col-md-4
          %h5 Phone
          (210) 863-8260
        %article.col-sm-6.col-md-4
          %h5 Website
          %a{ href: "http://peterclark.us" } www.peterclark.us
          
  %section.row
    .col-sm-3.col-sm-offset-1
      %h2 About
    .col-sm-7
      .row
        %article.col-sm-8
          %h5 Web Developer
          

  %section.row
    .col-sm-3.col-sm-offset-1
      %h2 Skills
    .col-sm-7
      .row
        %article.col-sm-8
          This is more about me.
          
  %section.row
    .col-sm-3.col-sm-offset-1
      %h2 Work
    .col-sm-7
      .row
        %article.col-sm-8
          This is more about me.
          
  %section.row
    .col-sm-3.col-sm-offset-1
      %h2 Education
    .col-sm-7
      .row
        %article.col-sm-8
          This is more about me.
          
  %section.row
    .col-sm-3.col-sm-offset-1
      %h2 Awards
    .col-sm-7
      .row
        %article.col-sm-8
          This is more about me.