#resume
  %section.row
    .col-sm-3.col-sm-offset-1
      %h2 Contact
    .col-sm-7
      .row
        %article.col-sm-6.col-md-4
          %h5 Email
          peter@5clarks.net
        %article.col-sm-6.col-md-4
          %h5 Phone
          (210) 863-8260
        %article.col-sm-6.col-md-4
          %h5 Website
          %a{ href: "http://peterclark.us" } www.peterclark.us

  %section.row
    .col-sm-3.col-sm-offset-1
      %h2 Skills
    .col-sm-7
      .row
        %article.col-sm-12
          %h4
            %div
              .label.label-warning Languages
              .label.label-info Ruby
              .label.label-info Javascript
              .label.label-info Coffeescript
              .label.label-info Java
              .label.label-info SQL
            %div
              .label.label-warning Databases
              .label.label-info Postgres
              .label.label-info MongoDB
              .label.label-info Mysql
              .label.label-info Sqlite
              .label.label-info Firebase
            %div
              .label.label-warning Web Frameworks
              .label.label-info Ruby on Rails
              .label.label-info Meteor
              .label.label-info Express
            %div
              .label.label-warning UI Frameworks
              .label.label-info Bootstrap
              .label.label-info Foundation
              .label.label-info Semantic UI
            %div
              .label.label-warning APIs
              .label.label-info Facebook
              .label.label-info Twitter
              .label.label-info Twilio
              .label.label-info Salesforce
              .label.label-info Oracle
            %div
              .label.label-warning Web
              .label.label-info HTML5
              .label.label-info CSS
              .label.label-info jQuery
              .label.label-info Node
            %div
              .label.label-warning Agile Tools
              .label.label-info JIRA
              .label.label-info Version One
              .label.label-info Fogbugz
            %div
              .label.label-warning Version Control
              .label.label-info Git
              .label.label-info Github
            %div
              .label.label-warning Testing
              .label.label-info Rspec
              .label.label-info Minitest

  %section.row
    .col-sm-3.col-sm-offset-1
      %h2 Work
    .col-sm-7
      .row
        %article.col-sm-12
          %p
            = image_tag "rackspace-logo.png", class: "logo"
            %strong{ style: "font-size: x-large" } Rackspace
            %small{ style: "margin-left: 10px" } 2012 - present

          %p{ style: "padding-left: 25px" }
            %strong Software Developer III

          %p{ style: "padding-left: 25px" }
            Part of an agile team designing Rackspace's internal sales quoting system using Ruby / Rails / MongoDB. Key contributor to all aspects of the application including the user interface (Bootstrap), restful API design and NoSQL database architecture. Author of two ruby gems that allow access to Rackspace's billing and inventory systems via XML and JSON API's. Particularly adept at UX/UI design favoring clean and simple user interfaces. Proficient in the blending of structure (HTML markup), design (CSS) and behavior (Javascript) in web applications.

      .row
        %article.col-sm-12
          %p
            = image_tag "usc-logo.png", class: "logo"
            %strong{ style: "font-size: x-large" }
              %span.hidden-xs
                University of Southern California
              USC
            %small{ style: "margin-left: 10px" } 2016 - present

          %p{ style: "padding-left: 25px" }
            %strong
              Lead Software Developer - Contract

          %p{ style: "padding-left: 25px" }
            Lead developer for the USC Clinical Trials website redesign using Ruby / Rails / Postgres / ZURB Foundation. Building the workflow enabling researchers to create landing pages for their clinical trials with the intent to increase volunteer recruitment. Key accomplishments include integration of the Facebook/Instagram Ad API, Twilio API, address geocoding, language translation and elastisearch. Software development workflow using Git, Rspec, Github, Heroku and CodeClimate.

      .row
        %article.col-sm-12
          %p
            = image_tag "tetco-logo.png", class: "logo"
            %strong{ style: "font-size: x-large" } Tetco Inc
            %small{ style: "margin-left: 10px" } 1999 - 2012

          %p{ style: "padding-left: 25px" }
            %strong IT Director / Lead Developer

          %p{ style: "padding-left: 25px" }
            Designed key software applications used by customers and corporate employees using Java, JSP, MS SQL Server, HTML, CSS & JavaScript. Led company entry onto the web and developed cost saving applications that increased overall efficiency and enhanced collaboration between subsidiary companies. Directed all technology initiatives, including software development, network & communications infrastructure, security, PCI compliance, application deployment and retail technology. Directed a team of 19 IT professionals including seven direct reports.

      .row
        %article.col-sm-12
          %p
            = image_tag "kci-logo.png", class: "logo"
            %strong{ style: "font-size: x-large" } Kinetic Concepts Inc
            %small{ style: "margin-left: 10px" } 1997 - 1999

          %p{ style: "padding-left: 25px" }
            %strong Software Engineer

          %p{ style: "padding-left: 25px" }
            Designed and maintained embedded software for several product lines including the BariAir, RotoProne, Triadyne and KinAir therapy systems. Led the software design for a prototype touch screen based graphical interface built on PC/104 hardware running QNX, a UNIX based real-time operating system. Led all aspects of this project including marketing demonstrations, software architecture design, software development, and testing.

  %section.row
    .col-sm-3.col-sm-offset-1
      %h2 Github
    .col-sm-7
      .row
        %article.col-sm-12
          %ul.fa-ul
            %li
              %i.fa.fa-li.fa-github.fa-lg
              %strong
                %a{ href: 'https://github.com/peterclark/tinymodel' } TinyModel
            %li
              Tiny models for Meteor
            %li
              %img{ src: 'https://travis-ci.org/peterclark/tinymodel.svg?branch=master' }
              %img{ src: 'https://codeclimate.com/github/peterclark/tinymodel/badges/gpa.svg' }
      .row
        %article.col-sm-12
          %ul.fa-ul
            %li
              %i.fa.fa-li.fa-github.fa-lg
              %strong
                %a{ href: 'https://github.com/peterclark/redcap' } REDCap
            %li
              A Ruby gem for interacting with the REDCap API
            %li
              %img{ src: 'https://travis-ci.org/peterclark/redcap.svg?branch=master' }
              %img{ src: 'https://codeclimate.com/github/peterclark/redcap/badges/gpa.svg' }
      .row
        %article.col-sm-12
          %ul.fa-ul
            %li
              %i.fa.fa-li.fa-github.fa-lg
              %strong
                %a{ href: 'https://github.com/peterclark/zuck' } Zuck
            %li
              A Ruby gem for interacting with the Facebook Marketing API



  %section.row
    .col-sm-3.col-sm-offset-1
      %h2 Education
    .col-sm-7
      .row
        %article.col-sm-12
          %ul.fa-ul
            %li
              %i.fa.fa-li.fa-university
              %strong
                %a{ href: 'http://www.tlu.edu' } Texas Lutheran University
              %small 1992-1996
            %li
              Physics
            %li
              .label.label-default 3.8 GPA
              .label.label-info Magna Cum Laude
          %ul.fa-ul
            %li
              %i.fa.fa-li.fa-university
              %strong
                %a{ href: 'http://www.utsa.edu' } University of Texas at San Antonio
              %small 1996-1998
            %li
              Electrical Engineering
            %li
              .label.label-default 3.4 GPA

  %section.row
    .col-sm-3.col-sm-offset-1
      %h2 Awards & Certifications
    .col-sm-7
      .row
        %article.col-sm-12
          %ul.fa-ul
            %li
              %i.fa.fa-li.fa-certificate
              %strong MongoDB Certified Developer
              %a{ href: 'https://university.mongodb.com/exams/display_certificate?license1=166&license2=666&license3=436' } 166-666-436
            %li
              %i.fa.fa-li.fa-certificate
              %strong Diamond Achievement Award
            %li
              %i.fa.fa-li.fa-certificate
              %strong Certified Scrum Master
            %li
              %i.fa.fa-li.fa-certificate
              %strong Java Certified Developer
