$nfl-logo-y: -100px;

.nfl-logo {
  background-image: image-url("nfl.png");
  background-repeat: no-repeat;
  width: 85px;
  height: 85px;
  margin: auto;
}

.arizona-cardinals {
  background-position: 0 0;
}
.atlanta-falcons {
  background-position: 0 (1 * $nfl-logo-y);
}
.baltimore-ravens {
  background-position: 0 (2 * $nfl-logo-y);
}
.buffalo-bills {
  background-position: 0 (3 * $nfl-logo-y);
}
.carolina-panthers {
  background-position: 0 (4 * $nfl-logo-y);
}
.chicago-bears {
  background-position: 0 (5 * $nfl-logo-y);
}
.cincinnati-bengals {
  background-position: 0 (6 * $nfl-logo-y);
}
.cleveland-browns {
  background-position: 0 (7 * $nfl-logo-y);
}
.dallas-cowboys {
  background-position: 0 (8 * $nfl-logo-y);
}
.denver-broncos {
  background-position: 0 (9 * $nfl-logo-y);
}
.detroit-lions {
  background-position: 0 (10 * $nfl-logo-y);
}
.green-bay-packers {
  background-position: 0 (11 * $nfl-logo-y);
}
.houston-texans {
  background-position: 0 (12 * $nfl-logo-y);
}
.indianapolis-colts {
  background-position: 0 (13 * $nfl-logo-y);
}
.jacksonville-jaguars {
  background-position: 0 (14 * $nfl-logo-y);
}
.kansas-city-chiefs {
  background-position: 0 (15 * $nfl-logo-y);
}
.miami-dolphins {
  background-position: 0 (16 * $nfl-logo-y);
}
.minnesota-vikings {
  background-position: 0 (17 * $nfl-logo-y);
}
.new-england-patriots {
  background-position: 0 (18 * $nfl-logo-y);
}
.new-orleans-saints {
  background-position: 0 (19 * $nfl-logo-y);
}
.new-york-giants {
  background-position: 0 (20 * $nfl-logo-y);
}
.new-york-jets {
  background-position: 0 (21 * $nfl-logo-y);
}
.oakland-raiders {
  background-position: 0 (22 * $nfl-logo-y);
}
.philadeplphia-eagles {
  background-position: 0 (23 * $nfl-logo-y);
}
.pittsburg-steelers {
  background-position: 0 (24 * $nfl-logo-y);
}
.san-diego-chargers {
  background-position: 0 (25 * $nfl-logo-y);
}
.san-francisco-forty-niners {
  background-position: 0 (26 * $nfl-logo-y);
}
.seattle-seahawks {
  background-position: 0 (27 * $nfl-logo-y);
}
.st-louis-rams {
  background-position: 0 (28 * $nfl-logo-y);
}
.tampa-bay-buccaneers {
  background-position: 0 (29 * $nfl-logo-y);
}
.tennessee-titans {
  background-position: 0 (30 * $nfl-logo-y);
}
.washington-redskins {
  background-position: 0 (31 * $nfl-logo-y);
}

.football {
  margin-bottom: 30px;
}
.football-label {
  background-color: #34495e;
}