body {
  background: #FAFAFB;
  color: #6F7C82;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

#banner, #small-banner {
  background: #2c3c74;
	background: -webkit-linear-gradient(15deg, #85BBCD 12%, #2c3c74 72%);
	background: -moz-linear-gradient(15deg, #85BBCD 12%, #2c3c74 72%);
	background: -o-linear-gradient(15deg, #85BBCD 12%, #2c3c74 72%);
	background: linear-gradient(15deg, #85BBCD 12%, #2c3c74 72%);
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  padding: 50px 0;
  text-align: center;
  box-shadow: inset 0 -1px 3px rgba(0,0,0,0.1);
}

#banner h1, #small-banner h1 {
  font-size: 40px;
  font-weight: 100;
  line-height: 1em;
  margin: 0 0 10px 0;
  color: #fff;
}

#banner p, #small-banner p {
  font-size: 20px;
  color: rgba(255,255,255,0.7);
  line-height: 1.3;
  text-shadow: 0 1px 0 rgba(0,91,103,.3);
  -webkit-font-smoothing: antialiased;
}

#automatic-section {
  background-color: #16a085;
  color: #fff;
}
.automatic img {
  border: 1px solid #fff;
  padding: 4px;
  background: #fff;
}
.automatic .fluidbox-ghost {
  border-radius: 50%;
}
#instagram-section {
  background-color: #435a6b;
  color: #fff;
}
#github-section {
  background-color: #FAFAFB;
}
#football-section {
  background-color: #9b59b6;
  color: #fff;
}
#driving-section {
  background-color: #c0392b;
  color: #fff;
}
.section {
  padding-bottom: 5em;
  box-shadow: inset 0 -1px 3px rgba(0,0,0,0.1);
}
#avatar {
  margin-bottom: -50px;
}