#resume section {
  margin-top: 30px;
}

#resume section h2 {
  text-align: right;
  color: #f39c12;
  margin-top: 0px;
}

#resume section:last-child {
  margin-bottom: 5em;
}

#resume img.logo {
  width: 20px;
  vertical-align: text-bottom;
}

#resume div.label {
  display: inline-block;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  #resume section h2 {
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
}

#resume h5 {
  color: #222;
  margin-bottom: 0px;
}

#resume article {
}

