!!! 5
%html(lang="en")
  
  = render "shared/head"

  %body
  
    %header.text-center
      %h1 Peter Stephen Clark
      %small
        web developer in san antonio, tx
        
    .container-fluid
      = yield
          
    .footer
      = render "shared/footer"
