!!! 5
%html(lang="en")
  
  = render "shared/head"

  %body
  
    %header.text-center
      %h1 
        Peter Stephen Clark
      %p
        web developer in san antonio, tx
      #avatar
        = image_tag "peter.png", size: "200x200"
        
    .container-fluid
      = yield
          
    .footer
      = render "shared/footer"
